[submodule "src/ros2_aruco"]
	path = src/ros2_aruco
	url = https://github.com/GLO-3013-eq09/ros2_aruco
[submodule "src/ldlidar_ros2"]
	path = src/ldlidar_ros2
	url = git@github.com:norlab-ulaval/ldlidar_ros2.git
