[submodule "src/ldlidar_stl_ros2"]
	path = src/ldlidar_stl_ros2
	url = git@github.com:GLO-3013-eq09/ldlidar_stl_ros2.git
[submodule "src/motor_driver"]
	path = src/motor_driver
	url = git@github.com:GLO-3013-eq09/motor_driver.git
